body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding-left: 3%;
  border-bottom: #c4c4c4 solid 1.5px;
}
input,
button {
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 15px;
}
input {
  border: #8f8f8f solid 1px;
  width: 35%;
}
button {
  border: none;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: seagreen;
  color: seashell;
}
p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
.container {
  margin: 0 auto;
}
.input-area {
  height: 50px;
  margin: 10px 0 0 10px;
  text-align: right;
}
.box {
  padding: 1em;
  border-radius: 10px;
  margin: 5px 0;
}
.incomplete {
  background-color: #e4fad2;
}
.complete {
  background-color: #d2e7fa;
}
.list {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #999999;
  justify-content: space-between;
}
/* 580px以上に適用される */
@media screen and (min-width: 580px) {
  .container {
    width: 65%;
  }
}
/* 1000px以上に適用される */
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}
